{% extends "base.html" %}

{% block create %}

{% if not created %}

    <div style="margin-top:30px;">
        <form action="http://127.0.0.1:8000/articles/create/" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
        
            <button type="submit">CREATE ARTICLE</button>
        
        </form>
    </div>
{% else %}
    <p>YOUR ARTICLE IS CREATED</p>
    <a href="/articles/?id={{ object.id }}">{{ object.title }} - {{ object.content }}</a>
{% endif %}

{% endblock create %}